<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<telegrambot>
		<token>5126418465:AAEAiZ1T6wckDwi2JS3ARx4rynAu4VvH-IE</token>
		<webhook enabled="false">
			<url>https://api.schvictorina.gq/bot/telegrambot/post</url>
		</webhook>
	</telegrambot>
	<discordbot>
		<token>OTU3OTQ4OTgxNDU4MTA4NDI4.YkGNgw.vugjsF0VFJ7Ly4RMnMBT0uEKvWI</token>
	</discordbot>
	<logging>
		<errors enabled="true" sendToUser="true" maxSizeInKB="100">errors.log</errors>
		<requests enabled="true" sendToUser="false" maxSizeInKB="10">requests.log</requests>
	</logging>
</settings>
